<a href="https://colab.research.google.com/github/Nhatty1788/NatnaelMolago_DTSC3020_Fall2025/blob/main/assignment2_nsm0128.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# List with 3 fruits
fruits = ["apple", "banana", "orange"]

# Print the entire list
print(fruits)

# Print each item separately
print(fruits[0])
print(fruits[1])
print(fruits[2])

['apple', 'banana', 'orange']
apple
banana
orange

In [ ]:
# List with 4 names
names = ["natnael", "eleni", "meron", "alemitu"]

# Change the first name to a different one and print the updated list
names[0] = "sani"
print(names)

['sani', 'eleni', 'meron', 'alemitu']

In [ ]:
# List with 5 vehicles
vehicles = ["car", "bus", "bike", "train", "plane"]

# Add one more vehicle and print
vehicles.append("truck")
print(vehicles)

['car', 'bus', 'bike', 'train', 'plane', 'truck']

In [1]:
# List with 6 foods
foods = ["tacos", "burger", "pasta", "steak", "wings", "sandwich"]

# Remove one food and print the new list
foods.remove("burger")
print(foods)

['tacos', 'pasta', 'steak', 'wings', 'sandwich']

In [ ]:
# List with 4 cities
cities = ["dallas", "forney", "houston", "mesquite"]

# Sort alphabetically and print
cities.sort()
print("Sorted:", cities)

# Reverse the list annd print
cities.reverse()
print("Reversed:", cities)

Sorted: ['dallas', 'forney', 'houston', 'mesquite']
Reversed: ['mesquite', 'houston', 'forney', 'dallas']

In [2]:
# List with 3 animals
animals = ["dog", "rat", "panda"]

# Loops to print each animals
for animal in animals:
    print(animal)

dog
rat
panda

In [ ]:
# List with numbers from 1 to 5
numbers = [1, 2, 3, 4, 5]

# Loops to print each numbers multiplied by 2
for num in numbers:
    print(num * 2)

2
4
6
8
10

In [ ]:
# List with 6 friends
friends = ["natnael", "sani", "mahsen", "mensur", "abel", "kaleb"]

# Print the first three friends
print(friends[:3])

# Print the last three friends
print(friends[3:])

['natnael', 'sani', 'mahsen']
['mensur', 'abel', 'kaleb']

In [ ]:
# Use range() to create a list with numbers from 1 to 10
numbers = list(range(1, 11))

# Print the list
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# Use list comprehension to create a list with the squares of numbers from 1 to 5.
squares = [x** 2 for x in range(1, 6)]

# Print the list
print(squares)

[1, 4, 9, 16, 25]